<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/posts">
        <span class="glyphicon glyphicon-console"> MHD_Blog</span>
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/posts" >Posts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="new-post" class="">Add a new Post</a>
      </li>
    </ul>
  </div>
</div>

